* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.container {
	float: left;
	width: 100%;
}

.header {
	float: left;
	width: 100%;
}

.header .banner {
	float: left;
	width: 100%;
}

.header .banner img {
	float: left;
	width: 100%;
}
